---
layout: default_light
header_image: "/assets/images/bg/sense-data-bg.jpgX"
title: "Machines that learn. <br />Hype not included.<br />   "
description: "Amethix is a technology company that builds analytics solutions across sectors. "
bar: true
---


<section class="page-title header-padding overlay-staticX" style="
  url({% if page.header_image %}{{page.header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  max-height: 976px;">

  <div class="container relative z-10">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="text-xl">Machines that learn. <br /> Hype not included. </h1>
        <!-- <h4 class="mb-4 mt-3" style="max-width: 650px; margin: 1rem auto; padding-top: 1rem;">{{page.description}}</h4> -->
        <h5 class="">Building analytics solutions across sectors <br />is what we enjoy doing.</h5>
		<!-- <h4 class="mb-4 mt-3" style="max-width: 550px; margin: 1rem auto; padding-top: 5rem;">
			Building analytics solutions across sectors is what we enjoy doing.
		</h4> -->
	</div>
    </div>
  </div>
  <div class="skew-bottom-6"></div>
</section>

<!-- Centered large image -->
<section class="section-main section margin-bottom">
	<div class="container">
		  <div class="row">
			<div class="design__image__13slv6u design__image__1wlkxmy" style="max-width: 100%;">
				<div data-animation="pixelated">
				<img src="https://palantir.com/assets/xrfr7uokpv1b/3XX9D2U7nfJDRco3oxU9MC/8ac0e9d3c338fb037724db7e8e0d943f/shutterstock_1462733690.jpg?quality=70&amp;width=1600&amp;height=1066&amp;fit=crop"
				sizes="100vw" alt="shutterstock 1462733690" loading="lazy" class="design__animated__13slv6u" style="opacity: 1;"
				width="100%" height="auto">
				<div data-animation="pixelated-canvas" class="design__canvas__13slv6u" style="opacity: 0; display: none;">
					</div>
				</div>
			</div>
	  <!--
		https://www.youtube.com/watch?v=oC50m_IjWbg
	  -->
	</div>
  </div>
</section>


<!-- About Start -->

<section class="container sectionX Xportfolio-2 margin-bottom">
	<!-- <div class="container"> -->
		<div class="row margin-bottom">
			<div class="col-md-6 col-lg-6" style="margin-right: 100px;">
				<div class="rooted-pillarX rooted-pillar--ossX">
					<h3 class="mb-5 mt-2">The power of algorithms</h3>
					<p class="common-BodyText">
						We believe in augmenting human intelligence. Not replacing it.
						Better data and innovative technology are a perfect combination that allows people to solve the hard problems that characterize their life and business.
					</p>
					<p>
						It is paramount for our clients and partners to access the best technology and the most effective data collection strategies.
					</p>
					<p class="common-BodyText">
						Because every problem is different, we believe in customized solutions.
						We see a need for a different type of company, that is close to their customers from day one.
						That’s why we founded Amethix Technologies.
					</p>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="about-imgX rounded-boxX Xmb-3">
					<div class="cover"></div>
					<!-- <b class="common-IntroText">Machine Learning to listen </b> -->
					<p>
						<img src="/assets/images/about/dsh-logo.png" alt="" class="img-corner w-100X" >
						We produce Data Science at Home, podcast about machine learning, artificial intelligence and algorithms. </p>
					  <a href="https://datascienceathome.com" class="nav-link text-light small-text">To the podcast
						<i class="fa fa-play"></i>
					</a>

						<!-- <div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i class="fa fa-play"></i></a>
						</div>
						</div> -->
				</div>
			</div>
		</div>
		<hr />

		<div class="row">
			<div class="col-md-6 col-lg-6" style="margin-right: 100px;">
				<div class="rooted-pillarX rooted-pillar--ossX">
					<h3 class="mb-5 mt-2">Technologies we love</h3>
					<p class="common-BodyText">
						Our people are our strongest asset. <br />
					The tools we use are part of the most widely recognized technological stacks in the world.

					</p>

					<p class="common-BodyText">
						Because every problem is different, we believe in customized solutions.
						We see a need for a different type of company, that is close to their customers from day one.
						That’s why we founded Amethix Technologies.
					</p>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="about-imgX rounded-boxX Xmb-3">
					<!-- <div class="cover"></div> -->
					<!-- <b class="common-IntroText">Machine Learning to listen </b> -->
					<!-- <p>
						<img src="/assets/images/about/dsh-logo.png" alt="" class="img-corner w-100X" >
						We produce Data Science at Home, podcast about machine learning, artificial intelligence and algorithms. </p>
					  <a href="https://datascienceathome.com" class="nav-link text-light small-text">To the podcast
						<i class="fa fa-play"></i>
					</a> -->

						<!-- <div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i class="fa fa-play"></i></a>
						</div>
						</div> -->
				</div>
			</div>
		</div>


</section>
<!-- About End -->

<!-- technologies big Start -->
<section class="section-sm-no-top bg-secondaryX">
	<div class="container">
		<div class="row clients-wrap">
			<div>
				<img src="/assets/images/icons/Rust_programming_language_black_logo.svg.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/icons/python.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/icons/pytorch.png" alt="" class="img-fluid mx-auto">
			</div>

			<div>
				<img src="/assets/images/icons/numpy.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/icons/postgresql.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/icons/Rust_programming_language_black_logo.svg.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/icons/aws.png" alt="" class="img-fluid mx-auto">
			</div>
		</div>
		<hr />

	</div>
</section>
<!-- techologies big End -->


<section class="section container sectionX Xportfolio-2 margin-bottomX">

	<!-- <section class="section about overflow-hidden text-center"> -->
		<!-- <div class="container "> -->

			<div class="row justify-content-centerX">
				<div class="col-lg-8 text-centerX">
					<!-- <span class="text-color h5 text-uppercaseX">About Us</span> -->
					<!-- <h4 class="mb-4 mt-3 text-uppercaseX">We are an independent lab that</h4> -->
					<h3 class="mb-4 mt-3">Design is our first-class citizen</h3>
					<!-- <h4 class="mb-4 mt-3">As Everything starts from designing a solution. Implementation with the best tools available follows.</h4> -->
					<!-- <p style="text-align: justify;"></p> -->
				</div>
				</div>
			<!-- </div> -->
</section>


<!-- row 2 -->
<section class="section about margin-bottom">
    <div class="row">
        <div class="col-md-6 mt-5 padding-left">
            <div class="rooted-pillar rooted-pillar--oss">
				<div class="rooted-pillar rooted-pillar--oss ">
					<div class="d-flex">
							<!-- <figure aria-hidden="true" class="mr-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27">
									<g fill="none" fill-rule="evenodd" transform="translate(-.488 .268)">
										<path fill="#87BBFD" fill-rule="nonzero" d="M13.7044271,25.9444224 C6.66279652,25.9444224 0.954427083,20.2360529 0.954427083,13.1944224 C0.954427083,6.15279182 6.66279652,0.44442238 13.7044271,0.44442238 C20.7460576,0.44442238 26.4544271,6.15279182 26.4544271,13.1944224 C26.4544271,20.2360529 20.7460576,25.9444224 13.7044271,25.9444224 Z"></path>
										<path fill="#6772E5" d="M11.4349271,9.56142238 L11.4334271,9.55542238 L7.80342708,13.1854224 L11.4334271,16.8124224 C11.8339716,17.2142095 11.8329642,17.8646279 11.4311771,18.2651724 C11.0293899,18.6657169 10.3789716,18.6647095 9.97842708,18.2629224 L5.62842708,13.9129224 C5.22807113,13.5122998 5.22807113,12.863045 5.62842708,12.4624224 L9.98292708,8.10942238 C10.3838858,7.70846368 11.0339683,7.70846369 11.4349271,8.10942241 C11.8358858,8.51038113 11.8358858,9.16046365 11.4349271,9.56142238 Z M21.9289271,12.4864224 L21.9319271,12.4849224 C22.3312847,12.8853724 22.3312847,13.5334723 21.9319271,13.9339224 L17.5759271,18.2869224 C17.1725216,18.6700267 16.5372914,18.6618299 16.1439055,18.268444 C15.7505196,17.8750581 15.7423228,17.2398279 16.1254271,16.8364224 L19.7524271,13.2109224 L16.1254271,9.58092238 C15.7418918,9.17791523 15.7494252,8.54266539 16.1424099,8.14886705 C16.5353946,7.75506871 17.1706275,7.74622139 17.5744271,8.12892238 L21.9289271,12.4864224 Z"></path>
									</g>
								</svg>
							</figure> -->
							<h7 class="common-BodyTitle">Industry and applied research </h7>
					</div>
					<p class="common-BodyText">
						Nothing happens before a meticulous and exhaustive study of every conceivable requirement related to the specific use cases.
						<br />We are born researchers from some of Europe’s most prestigious universities. </p>
				</div>

				<div class="rooted-pillar rooted-pillar--oss">
					<div class="d-flex">
						<!-- <figure aria-hidden="true" class="mr-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27">
									<g fill="none" fill-rule="evenodd" transform="translate(-.488 .268)">
										<path fill="#87BBFD" fill-rule="nonzero" d="M13.7044271,25.9444224 C6.66279652,25.9444224 0.954427083,20.2360529 0.954427083,13.1944224 C0.954427083,6.15279182 6.66279652,0.44442238 13.7044271,0.44442238 C20.7460576,0.44442238 26.4544271,6.15279182 26.4544271,13.1944224 C26.4544271,20.2360529 20.7460576,25.9444224 13.7044271,25.9444224 Z"></path>
										<path fill="#6772E5" d="M11.4349271,9.56142238 L11.4334271,9.55542238 L7.80342708,13.1854224 L11.4334271,16.8124224 C11.8339716,17.2142095 11.8329642,17.8646279 11.4311771,18.2651724 C11.0293899,18.6657169 10.3789716,18.6647095 9.97842708,18.2629224 L5.62842708,13.9129224 C5.22807113,13.5122998 5.22807113,12.863045 5.62842708,12.4624224 L9.98292708,8.10942238 C10.3838858,7.70846368 11.0339683,7.70846369 11.4349271,8.10942241 C11.8358858,8.51038113 11.8358858,9.16046365 11.4349271,9.56142238 Z M21.9289271,12.4864224 L21.9319271,12.4849224 C22.3312847,12.8853724 22.3312847,13.5334723 21.9319271,13.9339224 L17.5759271,18.2869224 C17.1725216,18.6700267 16.5372914,18.6618299 16.1439055,18.268444 C15.7505196,17.8750581 15.7423228,17.2398279 16.1254271,16.8364224 L19.7524271,13.2109224 L16.1254271,9.58092238 C15.7418918,9.17791523 15.7494252,8.54266539 16.1424099,8.14886705 C16.5353946,7.75506871 17.1706275,7.74622139 17.5744271,8.12892238 L21.9289271,12.4864224 Z"></path>
									</g>
								</svg>
							</figure> -->

						<h7 class="common-BodyTitle">Support for the developer community</h7>
					</div>
					<p class="common-BodyText">
					  We strongly believe and <a href="https://github.com/amethix">contribute</a> in the open-source projects —
					  giving back to the community through development, patches, and sponsorships.
					</p>
				</div>

				<div class="rooted-pillar rooted-pillar--oss">
					<div class="d-flex">
						<!-- <figure aria-hidden="true" class="mr-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27">
								<g fill="none" fill-rule="evenodd" transform="translate(-.488 .268)">
									<path fill="#87BBFD" fill-rule="nonzero" d="M13.7044271,25.9444224 C6.66279652,25.9444224 0.954427083,20.2360529 0.954427083,13.1944224 C0.954427083,6.15279182 6.66279652,0.44442238 13.7044271,0.44442238 C20.7460576,0.44442238 26.4544271,6.15279182 26.4544271,13.1944224 C26.4544271,20.2360529 20.7460576,25.9444224 13.7044271,25.9444224 Z"></path>
									<path fill="#6772E5" d="M11.4349271,9.56142238 L11.4334271,9.55542238 L7.80342708,13.1854224 L11.4334271,16.8124224 C11.8339716,17.2142095 11.8329642,17.8646279 11.4311771,18.2651724 C11.0293899,18.6657169 10.3789716,18.6647095 9.97842708,18.2629224 L5.62842708,13.9129224 C5.22807113,13.5122998 5.22807113,12.863045 5.62842708,12.4624224 L9.98292708,8.10942238 C10.3838858,7.70846368 11.0339683,7.70846369 11.4349271,8.10942241 C11.8358858,8.51038113 11.8358858,9.16046365 11.4349271,9.56142238 Z M21.9289271,12.4864224 L21.9319271,12.4849224 C22.3312847,12.8853724 22.3312847,13.5334723 21.9319271,13.9339224 L17.5759271,18.2869224 C17.1725216,18.6700267 16.5372914,18.6618299 16.1439055,18.268444 C15.7505196,17.8750581 15.7423228,17.2398279 16.1254271,16.8364224 L19.7524271,13.2109224 L16.1254271,9.58092238 C15.7418918,9.17791523 15.7494252,8.54266539 16.1424099,8.14886705 C16.5353946,7.75506871 17.1706275,7.74622139 17.5744271,8.12892238 L21.9289271,12.4864224 Z"></path>
								</g>
							</svg>
						</figure> -->

						<h7 class="common-BodyTitle">Committed to our goals</h7>
					</div>
					<p class="common-BodyText">
						Our feasibility studies are followed by a systematic engineering design that takes into account the most unfavourable real-life constraints.
						We feel responsible of what we build.
					</p>
				</div>
            </div>
        </div>

        <div class="col-md-6" style="right: 0px; position: relative;">
            <img src="/assets/images/about/office.jpg" alt="Amethix is headquartered" class="skew12-img-reverse">
        </div>
    </div>
</section>
<!-- row 2 end -->


<!-- Service Start -->
<!-- <div class="counter-section-top-0607 contact-hero-bgX">
	<div>
		<div></div>
		<div></div>
	</div>
	<div></div>
</div> -->
<section class="section service contact-hero-bgX position-relative margin-bottom">
	<!-- <img src="/assets/images/bg/feature-bg.png" alt="" class="overlay-shape"> -->
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<h3 class="mb-5 mt-2 text-whiteX">Services that Make Your Business Smarter. </h3>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<!-- <i class="ti-ruler-pencil text-color"></i> -->
					<!-- <img src="/assets/images/icons/research-light.png" width="80px" style="opacity: 0.6;"> -->

					<h4 class="my-4 text-whiteX">Research</h4>
					<p class="text-justify">Amethix combines cutting edge technology with applied research to provide solutions that are elegant and robust,
						functional and easy to maintain. Our engineers constantly interact with our researchers.
						<br /><br />
						For us, <b>engineering</b> is a lifestyle, not just one of the many things we do.
						</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<!-- <i class="ti-announcement text-color"></i> -->
					<!-- <img src="/assets/images/icons/implement-light.png" width="80px" style="opacity: 0.6;"> -->
					<h4 class="my-4 text-whiteX">Build</h4>
					<p class="text-justify">
						We build software with the most advanced tools and the most widely recognized best practices.
						All models and pipelines we create are tightly integrated with our customers' infrastructure and existing software.
						<br />
						Our products are always battle tested against the most unfavourable constraints.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<!-- <i class="ti-palette text-color"></i> -->
					<!-- <img src="/assets/images/icons/rocket-light.png" width="80px" style="opacity: 0.6;"> -->
					<h4 class="my-4 text-whiteX">Deploy</h4>
					<p class="text-justify">Our proof-of-concepts are converted into software that is production ready to make an impact on your
						business. For us <b> quality and reliability</b> aren’t just buzzwords. They’re our guiding. <br /> <br />
						They define every aspect of what we do and deliver.
						</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <div class="counter-section-bottom-0607 contact-hero-bgX">
	<div>
		<div></div>
		<div></div>
	</div>
</div> -->
<!-- Service End -->


<!-- Clients Start -->
{% assign client = site.data.homepage_2.clients %}
{% if client.enable %}

<section class="section service contact-hero-bgX position-relative margin-bottomX">
<!-- <section class="page-title header-paddingX overlay-static" style="margin-bottom: 0; padding-bottom: 0;"> -->
  <div class="container">
		 <h3 class="mb-4 mt-3 text-centerX">Some of the largest companies chose us </h3>
		 <h4 class="mb-4 mt-3 text-centerX">We’ve helped some of the world’s leading businesses design,
			 implement and deploy innovative solutions for their business.</h4>

			 <div class="row no-gutters">
				{% for logo in client.logos %}
				<div class="col-md-3 col-sm-6 spacing">
					<div class="team-item position-relative">
						<!-- <img src="{{item.image | relative_url }}" alt="" class="img-fluid"> -->
						<img src="{{ logo | relative_url }}" alt="" class="img-fluid mx-auto" width="180px">
					</div>
				</div>
				{% endfor %}
			</div>
  </div>
</section>

<!-- <section class="section-sm">
	<div class="container-fluid-short p-0">
		<div class="row no-gutters">
			{% for logo in client.logos %}
			<div class="col-md-3 col-sm-6 spacing">
				<div class="team-item position-relative">
					<img src="{{ logo | relative_url }}" alt="" class="img-fluid mx-auto" width="180px">
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section> -->
{% endif %}
<!-- Clients End -->

<!-- job Start -->
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-8">
            <h4>Amethix is headquartered in central Brussels. <br />
				We love the office as much as being remote. <br />Our flexibility is unbeatable.</h4>
        </div>
    </div>
</div>
<div style="position: relative;">
	<img src="assets/images/bg/work-section-engineering.jpg" alt="Amethix is headquartered" height="1280" width="1920" style="height: 70vh; width: 100vw; object-fit: cover; object-position: center;">
	<div style="position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(159, 179, 204, 0.24);"></div>
</div>
<div>
    <a href="/jobs" class="card hover-up work-with-us-card">
        <div>
            <span>A</span>
        </div>
        <div>
            <h3>
                Come Work With Us
                <i class="ti-arrow-right"></i>
            </h3>
            <p>Help us create innovative solutions for entrepreneurs and enterprises all over the world.</p>
        </div>
    </a>
</div>
<!-- job End -->



<!-- Team Start -->
<!-- <section class="section team-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<span class="h5 text-color text-uppercase">
					Our Team
				</span>
				<h3 class="mb-5 mt-2">Meet Our Team</h3>
			</div>
		</div>

		<div class="row no-gutters">
			<div class="col-lg-4">
				<div class="team-item position-relative">
					<img src="/assets/images/team/team-1.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-item position-relative">
					<img src="/assets/images/team/team-2.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-item position-relative">
					<img src="/assets/images/team/team-3.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- Team End -->



<!-- Testimonial Start -->
<!-- <section class="section testimonial position-relative bg-2 overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="mb-5 mt-2">Our Clients Say</h3>
			</div>
		</div>

		<div class="row testimonial-slider">
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/rama.jpg" alt="" class="img-fluid">
					</div>
					<p> We had several notable achievements included designing and implementing a powerful predictive model for
						disease interception improving overall accuracy by +25%
					</p>
					<h5 class="mb-0 mt-2">Dr. Rama Kondru</h5>
					<span class="text-color">Global Head Data Sciences<br />Johnson&Johnson</span>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/rob.jpg" alt="" class="img-fluid">
					</div>
					<p> Amethix added semantics to the NLP stack of our financial chatbot. This improved intent
						classification, and overall accuracy. We loved it. Our customers loved it!
					</p>

					<h5 class="mb-0 mt-2">Rob Guylfoyle</h5>
					<span class="text-color">CEO <br /> Abe.AI</span>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/blake.jpg" alt="" class="img-fluid">
					</div>
					<p> Working with Amethix has been a great experience thank to their sharp design and promptness.
						Predictions stayed accurate under drastic changes in many geographic locations
					</p>

					<h5 class="mb-0 mt-2">Blake Harbert</h5>
					<span class="text-color">Operational Forecasting <br /> GoBrands Inc.</span>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/don.jpg" alt="" class="img-fluid">
					</div>
					<p> Amethix contributed to Ocean Protocol during its infancy and made the project move forward immeasurably.
						I'm always looking for excuses to working with them again in the future.
					</p>

					<h5 class="mb-0 mt-2">Don Gossen</h5>
					<span class="text-color">CEO <br /> Keyko</span>
				</div>
			</div>


		</div>
	</div>
</section> -->
<!-- Testimonial End -->

<!-- Clients Start -->

<!-- <section class="section-sm bg-secondaryX">
	<div class="container">
		<div class="row clients-wrap">
			<div>
				<img src="/assets/images/clients/client-1.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-2.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-3.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-4.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-5.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-3.png" alt="" class="img-fluid mx-auto">
			</div>
		</div>
	</div>
</section> -->

<!-- Clients End -->

<!-- Call To action Start -->
<!--
<section class="position-relative section-sm bg-extra">
	<img src="/assets/images/bg/cta-bg-2.png" alt="" class="overlay-shape">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-9 mb-5 mb-lg-0">
				<h2 class="text-white mb-0">Amethix empowers organizations with the smartest solutions</h2>
			</div>
			<div class="col-lg-3">
				<a href="contact.html" class="btn btn-primary">Contact us</a>
			</div>
		</div>
	</div>
</section> -->
<!-- Call to action End -->

