---
layout: default
---

<section class="page-title header-padding overlay-static" style="
	background: radial-gradient(circle, rgba(235, 235, 235, 0) 1%, rgba(0, 0, 0, 0.981) 100%),
	url({% if header_image %}{{header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
    opacity: 0.9;
    max-height: 200px;
	">


	<div class="container" style="vertical-align: middle;">
		<div class="row">
		  <div class="col-lg-12">

			<!-- <span class="h5 text-uppercase text-yello">Privacy Policy </span> -->
			  <h4 class="text-white mt-2 text-uppercase text-lg text-center">Privacy Policy & Terms</h4>
              <!-- <h4 class="text-white text-uppercase">Privacy Policy & Terms</h4> -->

		  </div>
		</div>
	  </div>


</section>

{% include privacy.html %}
