.footer-blue-section-0806 {
	margin-top: 6rem;
	height: 20rem;
	transform: skewY(-8deg) translateY(9rem);
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	justify-content: space-between;
	column-gap: 1.5rem;

	:first-child :first-child {
		@include design($stripe_sky_blue, 63%);
	}

	:first-child :last-child {
		@include design($stripe_light_blue, 100%, -5rem);
		opacity: 0.7;
	}

	:last-child {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	:last-child :first-child {
		@include design($stripe_sky_blue, 100%);
	}

	:last-child :last-child {
		@include design($stripe_light_blue, 63%, -5rem);
		opacity: 0.7;
	}

	@media (min-width:560px) {
		display: flex;

		:first-child :first-child {
			@include design($stripe_sky_blue);
		}

		:first-child :last-child {
			@include design($stripe_light_blue, 15rem, -5rem);
			opacity: 0.7;
		}

		:last-child :first-child {
			@include design($stripe_sky_blue, 15rem);
		}

		:last-child :last-child {
			@include design($stripe_light_blue, 20rem, -5rem);
			opacity: 0.7;
		}
	}
}

footer {
	a {
		&:hover {
			color: white !important;
			border-color: white !important;
		}
	}

	a:not([target="_blank"]) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.footer-widget {
	p {
		color: white;
	}

	color: rgba(255, 255, 255, .8);

	a[target="_blank"] {
		color: rgba(255, 255, 255, .8) !important;
	}

	.lh-38 {
		line-height: 24px;
	}

	ul {
		li {
			// padding: 6px 0px;
			color: rgba(255, 255, 255, .8);

			a {
				color: rgba(255, 255, 255, .8);
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}
}

.footer-widget-light {
	p {
		color: rgb(51, 51, 51);
	}

	color: rgba(255, 255, 255, .8);

	a[target="_blank"] {
		color: rgba(51, 51, 51, 0.8) !important;
	}

	a {
		&:hover {
			color: rgb(51, 51, 51) !important;
			// border-color: rgb(51, 51, 51) !important;
		}
	}

	.lh-38 {
		line-height: 24px;
	}

	ul {
		li {
			// padding: 6px 0px;
			color: rgba(51, 51, 51, 0.8);

			a {
				color: rgba(51, 51, 51, 0.8);
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}
}


.socials-links {
	margin-top: 20px;

	li a {
		width: 42px;
		height: 42px;
		border-radius: 10%;
		text-align: center;
		display: inline-block;
		padding-top: 10px;
		color: $white;
		border: 1px solid rgba(255, 255, 255, .7);

		&:hover {
			background: $primary-color;
			border-color: $primary-color;
			color: $grey-light; // $white!important;
		}
	}

	li a.active {
		background: $transparent; // $primary-color;
		border-color: $grey-light; // $primary-color;
		color: $grey-light; // $primary-color;  // $white!important;
	}
}

.footer-btm {
	.border-top {
		border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
	}

	span,
	p {
		color: rgba(255, 255, 255, .7);
	}

	a {
		color: rgba(255, 255, 255, .7);
	}
}

.dot {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: $primary-color;
	display: inline-block;
}




///
///

.footer-2 {
	background: url("../images/bg/footer-bg.jpg")no-repeat;
	background-size: cover;
	color: rgba(255, 255, 255, .7);

	a {
		color: rgba(255, 255, 255, .7);
	}
}