<!-- Clients Start -->
{% assign client = site.data.homepage_2.clients %}
{% if client.enable %}

<section class="page-title header-padding overlay-static" style="max-height: 220px;">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
		  <h1 class="mb-2 text-lg">Good Company </h1>
		  <h6>We’ve helped some of the world’s leading <br />businesses do great things.</h6>
      </div>
    </div>
  </div>
</section>

<!--
<section class="section-sm-short">
	<div class="container">
		<div class="row clients-wrap no-gutters">
			{% for logo in client.logos %}
			<div class="text-center">
				<img src="{{ logo | relative_url }}" alt="" class="img-fluid mx-auto">
			</div>
			{% endfor %}
		</div>
	</div>
</section> -->


<section class="section-sm">
	<div class="container-fluid-short p-0">
		<div class="row no-gutters">
			{% for logo in client.logos %}
			<div class="col-md-3 col-sm-6 spacing">
				<div class="team-item position-relative">
					<!-- <img src="{{item.image | relative_url }}" alt="" class="img-fluid"> -->
					<img src="{{ logo | relative_url }}" alt="" class="img-fluid mx-auto" width="180px">
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


{% endif %}
<!-- Clients End -->