<!-- Contact Start -->

<section class="section home-contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<span class="h5 text-color text-uppercase">
					Contact us
				</span>
				<h3 class="mb-5 mt-2">Let’s Make your Business <br />Smarter</h3>

				<form class="contact__form" method="post" action="{{site.contact_form_action}}">
					<!-- form message -->
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<input class="form-control" type="text" name="name" id="name" placeholder="Name*">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<input class="form-control" type="text" name="_replyto" id="email" placeholder="Email*">
							</div>
						</div>
						<div class="col-12">
							<textarea class="form-control mt-3 mb-4" name="message" id="message" cols="30" rows="6"
								placeholder="Message"></textarea>
							<button type="submit" class="btn btn-primary" value="Submit Message"> Send</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>

<!-- Contact End -->