<!-- Counter Start -->
{% assign count = site.data.homepage_1.funfacts %}
{% if count.enable %}

<!--
<div class="counter-section-top-0607 contact-hero-bg">
	<div>
		<div></div>
		<div></div>
	</div>
	<div></div>
</div>

<section class="section-sm counter-section contact-hero-bg position-relative">
	<img src="{{count.bg_image | relative_url }}" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			{% for item in count.item %}
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<img src="{{ item.icon }}" style="margin: 8px; max-height: 64px;" >
					<div>
						<h2 class="mb-0"><span class="counter">{{item.value}}</span></h2>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<div class="counter-section-bottom-0607 contact-hero-bg">
	<div>
		<div></div>
		<div></div>
	</div>
</div>
-->
<!-- Counter End -->
{% endif %}