<section class="container">
    <div class="row get-started-section">
        <div class="col-md-12 col-lg-4">
            <h2>Ready to get started?</h2>
            <p> Explore some of the Amethix solutions across sectors. You can also contact us and tell more about your business. Rounded button "Solutions"</p>
            <div class="row mt-3 position-static ml-2">
                <a href="#" class="primary-rounded-btn">Solutions <i class="ti-arrow-right"></i></a>
                <a href="#" class="secondary-rounded-btn">Contact sales <i class="ti-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-sm-5 col-lg-3">
            <h3>Know what you pay</h3>
            <p>Explore some of the Amethix solutions across sectors. You can also contact us and tell more about your business.</p>
            <a href="#" class="secondary-rounded-btn">Contact sales <i class="ti-arrow-right"></i></a>
        </div>
        <div class="col-sm-5 col-lg-3">
            <h3>Know what you pay</h3>
            <p>Explore some of the Amethix solutions across sectors. You can also contact us and tell more about your business.</p>
            <a href="#" class="secondary-rounded-btn">Contact sales <i class="ti-arrow-right"></i></a>
        </div>
    </div>
</section>

<!-- Contact Start -->
{{/* <div class="home-footer-contact-section-top-0607">
	<div>
		<div></div>
		<div></div>
	</div>
	<div></div>
</div>  */}}

{{/* <div class="home-footer-contact-section-bottom-0607">
	<div>
		<div></div>
		<div></div>
	</div>
</div>  */}}
<!-- Contact End -->

<!-- Pricing Start -->
<section class="section pricing">
    <div class="container">
        <div class="row justify-content-center">
            <!-- <div class="col-lg-8 text-center">
				<span class="h5 text-color text-uppercase"> Pricing Table</span>
				<h3 class="mb-5 mt-2">Services Package.</h3>
			</div> -->
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card border-0 rounded-0 shadow-lg text-center p-4 mb-5 mb-lg-0">
                    <div class="card-header">
                        <!-- <span class="package d-inline-block text-capitalize">basic</span> -->
                        <!-- <h3 class="price mt-4 font-weight-bold">$49 <small class="text-color text-sm"> / mo</small></h3> -->
                    </div>

                    <div class="card-body">
                        <b>Ready to get started? </b> <br>s

                        Explore some of the Amethix solutions across sectors. You can also contact us and tell more about your business.

                        <!-- <ul class="list-unstyled lh-45 mt-3 mb-4">
							<li>Express Service</li>
							<li>Customs Clearance</li>
							<li class="text-muted">Time-Critical Services</li>
						</ul> -->
                        Rounded button "Solutions"
                        <a href="#" class="btn btn-outline-primary">Solutions</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card border-0 rounded-0 shadow-lg text-center p-4 mb-5 mb-lg-0">
                    <div class="card-header">
                        <!-- <span class="package d-inline-block text-capitalize">professional</span> -->
                        <!-- <h3 class="price mt-4 font-weight-bold">$59 <small class="text-color text-sm"> / mo</small></h3> -->
                        <!-- <p>Best for small individuals</p> -->
                    </div>

                    <div class="card-body">
                        <b>Know what you pay</b>
                        Explore some of the Amethix solutions across sectors. You can also contact us and tell more about your business.

                        <!-- <ul class="list-unstyled lh-45 mt-3 mb-4">
							<li>Express Service</li>
							<li>Customs Clearance</li>
							<li class="text-white-50">Time-Critical Services</li>
						</ul> -->

                        <a href="#" class="btn btn-outline-primary">select plan</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Pricing End -->