<section class="container margin-bottom">
    <h1 id="appear" class="mb-5 mt-2 text-uppercaseX dummy typewrite" data-text="Ready to get started?" data-delay="40"></h1>
    <div class="box visible" data-animate data-animation-classes="animated swing" data-animation-scrolled="true"></div>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <br />
            <!-- <b id="appear" class="typewrite" data-text="Increase your business impact"></b> -->
            <b id="appear">Increase your business impact</b>
            <p class="text-smaller"> Explore some of the solutions we have delivered across sectors. You can also contact us and tell more about your business. <br />We love to help.
			</p>
            <div class="row mt-3 position-static ml-2">
                <a href="/solutions" class="primary-rounded-btn">Solutions <i class="ti-arrow-right"></i></a>
                <!-- <a href="/contact" class="secondary-rounded-btn">Contact sales <i class="ti-arrow-right"></i></a> -->
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
			<!-- <img src="assets/icons/comments-dollar-solid.svg" width="42px"> -->
			<!-- <img src="assets/images/icons/document.png" width="38px"> -->
            <br />
            <!-- <b id="appear" class="typewrite" data-text="Keep costs under control"></b> -->
            <b id="appear">Keep costs under control</b>

            <!-- <b>Keep costs under control</b> -->
            <p class="text-smaller">Data projects easily run out of budget. With Amethix you keep your project costs always under control.</p>
            <a href="/contact" class="secondary-rounded-btn text-smaller">Contact sales <i class="ti-arrow-right"></i></a>
        </div>

        <div class="col-md-6 col-lg-3">
			<!-- <img src="assets/icons/brain-solid.svg" width="42px">-->
			<!-- <img src="assets/images/icons/browser.png" width="38px"> -->
            <br />
            <b>Make your business smarter</b>
            <!-- <b id="appear" class="typewrite" data-text="Make your business smarter"></b> -->
            <p class="text-smaller">Enhance your business with AI and machine learning. Your data has never been so powerful.</p>
            <a href="/contact" class="secondary-rounded-btn text-smaller">Contact sales <i class="ti-arrow-right"></i></a>
        </div>

        <div class="col-md-6 col-lg-3">
			<!-- <img src="assets/icons/brain-solid.svg" width="42px">-->
			<!-- <img src="assets/images/icons/browser.png" width="38px"> -->
            <br />
            <b>Intelligent Decision support</b>
            <!-- <b id="appear" class="typewrite" data-text="Intelligent Decision support"></b> -->
            <p class="text-smaller">Bring intelligence to your entire organization, and get the benefits of an intelligent decision support system.</p>
            <a href="/contact" class="secondary-rounded-btn text-smaller">Contact sales <i class="ti-arrow-right"></i></a>
        </div>
    </div>
</section>



<!-- Contact Start -->
<!-- <div class="home-footer-contact-section-top-0607">
	<div>
		<div></div>
		<div></div>
	</div>
	<div></div>
</div>

<div class="home-footer-contact-section-bottom-0607">
	<div>
		<div></div>
		<div></div>
	</div>
</div> -->

<!-- Contact End -->

<!-- Pricing Start -->
<!-- <section class="section pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
				<span class="h5 text-color text-uppercase"> Pricing Table</span>
				<h3 class="mb-5 mt-2">Services Package.</h3>
			</div>
        </div>
    </div>
</section> -->
<!-- Pricing End -->


