<!-- Slider Start -->
<section class="page-title  overlay-staticX" style="
  url({% if page.header_image %}{{page.header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  max-height: 976px;">

  <div class="container1 hero-video-section relative z-10 min-height1">

    

<video
  class="hero-video"
  autoplay
  muted
  loop
  playsinline
  preload="auto"
  style="background-color: white; width:100%; height:auto; display:block;"
>
  <source src="assets/videos/amethix-intro-video-footage.mp4" type="video/mp4">
  Your browser does not support the video tag or the file format of this video.
</video>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const v = document.querySelector(".hero-video");
  if (!v) return;

  v.muted = true;
  const playAttempt = v.play();

  if (playAttempt !== undefined) {
    playAttempt.catch(() => {
      const tryPlay = () => {
        v.play();
        window.removeEventListener("touchstart", tryPlay);
      };
      window.addEventListener("touchstart", tryPlay);
    });
  }
});
</script>


    <div class="video-overlay-text">
      <h1 class="overlay-main">Software That Doesn't Fail <br> When Failure Costs Lives</h1>
     
    </div>

      <div class="col-lg-12 text-centerX header-top-padding1">
        <!-- <h2 class="text-xl typewrite typehead" data-text="Software That Doesn't Fail<br /> When Failure Costs Lives" data-delay="40"></h2> -->

        <!-- <h1 class="text-xl ">Empowering organizations. Maximizing impact. Letting your data speak. </h1> -->
        <!-- <h4 class="mb-4 mt-3" style="max-width: 650px; margin: 1rem auto; padding-top: 1rem;">{{page.description}}</h4> -->
        <!-- <h5 class="">{{page.description}}</h5> -->
      </div>
    <!-- </div> -->
  </div>
 
</section>

 

{% assign header_image = site.data.homepage_1.hero_area.background_image %}
{% assign banner = site.data.homepage_1.hero_area %}
 


 

