<!-- Slider Start -->
<section class="page-title header-padding overlay-staticX" style="
  url({% if page.header_image %}{{page.header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  max-height: 976px;">

  <div class="container relative z-10 min-height">
    <div class="row">
      <div class="col-lg-12 text-centerX">
        <h1 class="text-xl typewrite typehead" data-text="Empowering organizations. Maximizing impact."></h1>
        <!-- <h1 class="text-xl ">Empowering organizations. Maximizing impact. Letting your data speak. </h1> -->

        <!-- <h4 class="mb-4 mt-3" style="max-width: 650px; margin: 1rem auto; padding-top: 1rem;">{{page.description}}</h4> -->
        <!-- <h5 class="">{{page.description}}</h5> -->
      </div>
    </div>
  </div>
  <div class="skew-bottom-6"></div>
</section>






<!-- <div class="container">
  <h1>jQuery Animated Typing Plugin Example</h1>
<div
  class="animate-typing"
  data-animate-loop="true"
  data-type-speed="200"
  data-type-delay="200"
  data-remove-speed="50"
  data-remove-delay="500"
  data-cursor-speed="200">
      jQueryScript.Net|
      CSSScript.Com|
      365webresources.Com|
</div>
<div
  class="animate-typing"
  data-animate-loop="true"
  data-type-speed="500"
  data-cursor-speed="700">
      This is just another text.
</div>
</div> -->


<!-- <div style="background: white; height: 1rem; width: 100%; margin-top: -0.5rem;"></div> -->

{% assign header_image = site.data.homepage_1.hero_area.background_image %}
{% assign banner = site.data.homepage_1.hero_area %}

<!-- <section class="hero-0607"> -->
<!-- <section class="section about overflow-hidden margin-bottom">
  <div class="container">
		<div class="row"> -->
	<!-- <canvas id="home-hero"></canvas> -->
		<!-- <h1 class="text-xl">{{ banner.title | strip_html}}</h1> -->
    <!-- <h1 class="text-xl">Maximize your impact. <br /> Let your data speak. </h1> -->
		<!-- <h1 class="text-xl">{{ banner.title}}</h1> -->
		<!-- <h2 class="">{{ banner.content }}</h2> -->
		<!-- <h2 class="">{{ banner.content }}</h2> -->
    <!--
      <div class="row mt-5 position-static">
      <a href="/solutions" class="primary-rounded-btn">Solutions <i class="ti-arrow-right"></i></a>
      <a href="/contact" class="secondary-rounded-btn">Contact sales <i class="ti-arrow-right"></i></a>
    </div>
    -->
   	<!-- </div>
  </div>
</section> -->


<section class="section-main section margin-bottom">
  <div class="container">
		<div class="row">
    <video width="100%" onloadeddata="this.play();" playsinline loop muted style="background-color: white;" preload>
      <source src="assets/videos/amethix-intro-video-footage.mp4" type="video/mp4">
      Your browser does not support the video tag or the file format of this video.
    </video>
  </div>
</div>
</section>


<!-- <h1 id="appear" class="text-xl">This is a test. </h1> -->


