<section class="container margin-bottom">
  <div class="row margin-bottom">
    <div class="col-md-6 col-lg-6" style="margin-right: 100px;">
      <div class="rooted-pillarX rooted-pillar--ossX">
        <h3 class="mb-5 mt-2">Building innovative solutions</h3>
        <p>It is paramount for our clients and partners to access the best technology and the most effective data collection strategies. </p>
        <p class="margin-bottom common-BodyText">
          At Amethix, you will be part of a group of people working together to build solutions to mission-critical problems and a
          company that values the very best ideas, solutions, and implementations. <br />
          For us, people come first.
          <br />
          Whether you're a new grad or have years of experience we might have something for you.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="about-imgX rounded-boxX Xmb-3">
        <div class="cover"></div>
        <h4>
          We are builders. No matter where we are, or which team we work on.
        </h4>
      </div>
    </div>

  </div>
  <hr />

  <div class="row shuffle-wrapper portfolio-gallery">
    {% include positions_loop.html %}
  </div>


</section>

