<section class="container margin-bottom" style="margin-top: 100px; margin-bottom: 100px; min-height: 400px;">
    <h2 id="appear" class="section-title mb-5 mt-2 dummy typewrite text-center text-bold" data-text="We build mission-critical software for defense, critical infrastructure, and AI systems where performance and reliability are non-negotiable" data-delay="5"></h2>
    <div class="box visible" data-animate data-animation-classes="animated swing" data-animation-scrolled="true"></div>
</section>

