<section class="page-title header-padding overlay-static" style="
  background: radial-gradient(circle, rgba(97, 97, 97, 0) 10%, rgba(0, 0, 0, 0.981) 100%),
  url({% if page.header_image %}{{page.header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  max-height: 976px;">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="text-uppercase mb-2 text-xl text-white padding-top">{{page.title}}</h1>
           <h4 class="text-white text-uppercase">{{page.description}}</h4>
      </div>
    </div>
  </div>
</section>