<hr />

  {% for portfolio in site.portfolios %}
  <div class="grid-container border-bottom">

  <div class="item">
    <div class="col-lg-4">
    <h5 style="font-size: 0.6em;  white-space: nowrap;">↳ {{portfolio.title}}</h5>
  </div>

  </div>

  <div class="item" style="text-align: left; vertical-align: middle;">
    <h6>{{portfolio.description}}</h6>
  </div>

  <div class="item">
    <a class="nav-link text-light small-text" href="{{portfolio.url | relative_url }}">
      <i class="ti-arrow-right" style="font-size: 15px;"></i>
    </a>
  </div>
</div>

{% endfor %}


