{% assign count_top = site.data.homepage_1.overview_top %}
{% assign count_bottom = site.data.homepage_1.overview_bottom %}

<!-- Centered large image -->
<section class="section-main section margin-bottom">
	<div class="container">
		  <div class="row">
			<div class="design__image__13slv6u design__image__1wlkxmy" style="max-width: 100%;">
				<div data-animation="pixelated">
				<img
					src="/assets/images/portfolio/stock.jpg"
					sizes="100vw" alt="shutterstock 1462733690"
					loading="lazy"
					class="design__animated__13slv6u imgpx"
					style="opacity: 1;"
					width="100%"
					height="auto">
					<div
						data-animation="pixelated-canvas"
						class="design__canvas__13slv6u"
						style="opacity: 0; display: none;">
					</div>
				</div>
			</div>
	  <!--
		https://www.youtube.com/watch?v=oC50m_IjWbg
	  -->
	</div>
  </div>
</section>


<section class="pt200 section portfolio-2 margin-bottom">
	<div class="container">
		<h3 class="mb-5 mt-2 dummy typewrite" data-text="What makes Amethix <br />a powerful partner"></h3>
		<!-- <h3 class="mb-5 mt-2">What makes Amethix <br />a powerful partner</h3> -->
		<div class="row" style="margin-bottom: 84px;">
			{% for item in count_top.item %}
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<img src="{{ item.icon }}" style="margin: 8px; max-height: 64px;" >
					<div>
						<h2 class="mb-0" style="color: black;"><span class="counter">{{item.value}}</span></h2>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	  <!-- <div class="row shuffle-wrapper portfolio-gallery">
		<div class="col-lg-6 col-6 mb-4 shuffle-item">
			<div class="position-relative inner-box text-center">
				<h1 class="text-xl">AI for your business</h1>
			</div>
		</div>
		<div class="col-lg-6 col-6 mb-4 shuffle-item">
			<div class="position-relative inner-box medium-size">
				<p>
					For us, Artificial Intelligence is meant to support human decisions in complex situations.
				</p>
				<p style="font-style: normal;">
					We use machine learning and advanced analytics to augment human capital and empower your organization to ask
					and answer complex questions like never before.
				</p>
			</div>
		</div>
	</div> -->
	<!-- <hr /> -->

	<!-- <div class="row" style="margin-top: 2px;">
		{% for item in count_bottom.item %}
		<div class="col-lg-3 col-md-6">
			<div class="counter-content d-flex mb-5 mb-lg-0">
				<img src="{{ item.icon }}" style="margin: 8px; max-height: 64px;" >
				<div>
					<h2 class="mb-0" style="color: black;"><span class="counter">{{item.value}}</span></h2>
				</div>
			</div>
		</div>
		{% endfor %}
	</div> -->

	</div>
  </section>
  <!-- Portfolio End -->