{% assign count_top = site.data.homepage_1.overview_top %}
{% assign count_bottom = site.data.homepage_1.overview_bottom %}

<!-- Centered large image -->
<section class="section-main section margin-bottom">
	<div class="container">
		<div class="row">
			<div style="max-width: 100%;">
				<img src="/assets/images/portfolio/pexels-laura-tancredi-7078661.jpg" sizes="100vw"
					alt="shutterstock 1462733690" loading="lazy" class=" rounded-lg  "
					style="opacity: 1; aspect-ratio: 16 / 6; object-fit: cover;" width="100%" height="auto" data-duration="0.2">
			</div>
		</div>
	</div>
	</div>
</section>


<section class="pt200 section portfolio-2 margin-bottom">
	<div class="container">
		<h3 class="mb-5 mt-2 dummy typewrite" data-text="What makes Amethix <br/> a powerful partner"></h3>
		<!-- <h3 class="mb-5 mt-2">What makes Amethix <br />a powerful partner</h3> -->
		<div class="row" style="margin-bottom: 84px;">
			{% for item in count_top.item %}
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0 align-items-center">
					<img src="{{ item.icon }}" style="margin: 8px; max-height: 64px;">
					<div>
						<h2 class="mb-0" style="color: black;"><span class="counter">{{item.value}}</span></h2>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
 

	</div>
</section>
<!-- Portfolio End -->




