.bg-primary {
	background: $primary-color !important;
}

.bg-secondary {
	background: $secondary-color !important;
}

.bg-extra {
	background: $extra-color;
}

.bg-blue {
	background: $blue !important;
}

.text-color {
	color: $primary-color;
}

.text-black {
	color: $black;
}

.section {
	padding: 50px 0px;
}

.section-sm {
	padding: 80px 0px 65px 0px;
}

.section-sm-short {
	padding-top: 25px;
}

.content.text-white * {
	color: $white;
}

.img-fluid {
	max-width: 100%;
	// height: 25px;
}

a {
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
}

a:hover {
	color: $primary-color !important;
}

a:hover,
a:focus {
	outline: 0;
	text-decoration: none;
}

.text-yello {
	color: $yello;
}

.text-sm-2 {
	font-size: 18px;
}

.overflow-hidden {
	overflow: hidden !important;
}

.slick-slide {
	outline: 0;

	img {
		display: inline-block;
	}
}

.overlay-effect {
	overflow: hidden;
	// background:  #C33764;
	// top: 0;
	// bottom: 0;
	// left: 0;
	// right: 0;
	opacity: 0.7;
	// transition: .8s ease;
	// background: black;
	// background: url('assets/images/bg/network-bg.mp4') center center / cover no-repeat;
}

.hero-0607 {
	#home-hero {
		transform: skewY(-12deg) translateY(-25vh);
		opacity: 0.95;
		width: 100%;
		height: 80vh;
		overflow: hidden;
		filter: blur(0.0625rem);
		-webkit-filter: blur(0.0625rem);
	}

	div {
		max-width: 60rem;
		margin: 0 auto;
		position: absolute;
		top: 10rem;
		left: 0;
		right: 0;
		padding: 0.7rem;



		h1 {
			margin-bottom: 2.5rem;
			font-size: 5rem;
			line-height: 5.1rem;

			@include text-animation;

			@include mobile-xs {
				font-size: 3rem;
				line-height: 3.4rem;
			}

			@include mobile {
				font-size: 3.5rem;
				line-height: 3.7rem;
			}

		}

		h2 {
			font-size: 1.7rem;
			line-height: 2rem;
			font-weight: 500;
			color: white;

			@include mobile-xs {
				font-size: 1rem;
				line-height: 1.2rem;
			}

			@include mobile {
				font-size: 1.3rem;
				line-height: 1.7rem;
			}

			@include tablet {
				color: $secondary-color;
			}
		}
	}
}

.overlay-static {
	// outline: 100% solid rgba(255, 0, 0, 0.5) !important;
	outline-offset: -100px;
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: -100;
}

.fullscreen-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 100px;
	left: 0;
	// margin: auto;
	width: 100%;
	// max-height: 700px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	// z-index: -100;
	background: radial-gradient(circle, rgba(248, 0, 255, 0) 1%, rgba(3, 3, 41, 0.9808123933167017) 100%);
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	// background-size: 100% auto;
	width: 100%;
	background: radial-gradient(circle, rgba(248, 0, 255, 0) 1%, rgba(3, 3, 41, 0.9808123933167017) 100%);
	z-index: -100;
}


@media only screen and (min-device-width : 375px) and (max-device-width : 812px) {

	.navbar-nav {
		top: 42px;
		left: 0;
		margin-top: 20px;
		// display: block;
		width: 100%;
		background-color: rgba(44, 44, 44, 0.6);
		padding: 42px;
		// flex-direction: column;
		// position: fixed;
		z-index: 1;
		transition: 0.5s;
		// position: static;
		// list-style-type: none;
		// margin: 0;
		// padding: 0;
		position: absolute;
	}

	.col-lg-6 {
		max-width: 100%;
	}

	.col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}

	.col-6 {
		flex: 0 0 100%;
	}



}


.container-fluid-short {
	width: 60%;
	// padding-right: 15px;
	// padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


.padding-top {
	padding-top: 42px;
}

@mixin small-box($background:false, $width:false) {
	height: 3.2rem;
	width: 20rem;

	@if $background {
		background: $background;
	}

	@if $width {
		width: $width;
	}
}

@keyframes slidein {
	0% {
		margin-left: 0%;
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	100% {
		margin-left: 100%;
	}
}

@keyframes slidein2 {
	0% {
		margin-left: 0%;
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	100% {
		margin-left: 100%;
	}
}

@keyframes slidein3 {
	0% {
		margin-left: 0%;
		opacity: 0;
	}

	10% {
		opacity: 0.3;
	}

	20% {
		opacity: 0.65;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0;
	}

	50% {
		opacity: 0.3;
	}

	60% {
		opacity: 0.65;
	}

	70% {
		opacity: 0.3;
	}

	80% {
		opacity: 0;
	}

	90% {
		opacity: 0.3;
	}

	100% {
		margin-left: 100%;
		opacity: 0.65;
	}
}

.contact-hero-container-0706 {
	position: relative;
	min-height: 80vh;
}

.contact-hero-0706 {
	transform: skewY(-12deg) translateY(-25vh);
	overflow: hidden;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	background-image: linear-gradient(-81deg, #6fa7f8 1%, #777bf8);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	:nth-child(1) {
		:first-child {

			@include small-box(linear-gradient(-90deg, #000, #000 97%));
			animation: slidein3 14s ease-in infinite;
			mix-blend-mode: soft-light;
		}
	}

	:nth-child(2) {
		:first-child {

			@include small-box(linear-gradient(-90deg, transparent, rgba(0, 0, 0, .3), transparent));
			animation: slidein2 5s infinite;
			mix-blend-mode: soft-light;
		}
	}

	:nth-child(3) {
		:first-child {

			@include small-box(linear-gradient(-90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, 0)));
			animation: slidein 8s infinite;
			mix-blend-mode: soft-light;
		}
	}

	:last-child {
		display: flex;
		justify-content: space-between;

		:first-child {
			@include small-box(#6772e5);
		}

		:last-child {
			@include small-box(#9cdbff, 30rem);
		}
	}
}

.contact-hero-main-0706 {
	padding-top: 9rem;
	position: relative;
	color: white;
	text-align: center;

	h1,
	p {
		color: inherit;
	}

	h1 {
		margin-bottom: 2rem;
		font-weight: 500;
		font-size: 3.2rem;
	}

	p {
		font-size: large;
		line-height: 1.5;
		margin-bottom: 0;
	}

	.row {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 4rem;
	}

	.card {
		margin: 2rem 0.8rem;
		padding-bottom: 1.5rem;
		min-width: 20rem;
		max-width: 25rem;
		min-height: 15rem;
		outline: none;
		border: none;
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

		i {
			color: $stripe_light_blue;
			font-size: 3.1rem;
			background: white;
			width: 6rem;
			height: 6rem;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
			margin: 0 auto;
			transform: translateY(-2rem);
		}

		h2 {
			font-size: xx-large;
			color: $secondary-color;
			margin-bottom: 2rem;
		}

		p,
		a {
			color: $black-light;
		}
	}
}

.home-footer-contact-section-top-0607 {
	height: 15rem;
	transform: skewY(-6deg) translateY(8rem);
	background-color: $secondary-color;
	margin-top: 5rem;

	:first-child :first-child {
		@include design($stripe_sky_blue);
	}

	:first-child :last-child {
		@include design($stripe_light_blue, 15rem, -5rem);
		opacity: 0.7;
	}
}

.home-footer-contact-section-bottom-0607 {
	height: 17rem;
	transform: skewY(174deg) translateY(-8rem);
	background-color: $secondary-color;
	display: flex;
	justify-content: flex-end;

	:last-child {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}

	:last-child :first-child {
		@include design($stripe_sky_blue, 15rem, 5rem);
	}

	:last-child :last-child {
		@include design($stripe_light_blue, 10rem, 4rem);
		opacity: 0.7;
	}

}