.bg-primary {
	background: $primary-color !important;
}

.bg-secondary {
	background: $secondary-color !important;
}

.bg-extra {
	background: $extra-color;
}

.bg-blue{
	background: $blue !important;
}

.text-color {
	color: $primary-color;
}

.text-black {
	color: $black;
}

.section {
	padding: 50px 0px;
}

.section-sm {
	padding: 80px 0px 65px 0px;
}

.section-sm-short {
	padding-top: 25px;
}

.content.text-white *{
	color: $white;
}

.img-fluid {
    max-width: 100%;
    // height: 25px;
}

a {
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
}

a:hover {
	color: $primary-color !important;
}

a:hover,
a:focus {
	outline: 0;
	text-decoration: none;
}

.text-yello {
	color: $yello;
}

.text-sm-2 {
	font-size: 18px;
}

.overflow-hidden {
	overflow: hidden !important;
}

.slick-slide {
	outline: 0;

	img {
		display: inline-block;
	}
}

.overlay-effect {
    overflow: hidden;
	// background:  #C33764;
	// top: 0;
	// bottom: 0;
	// left: 0;
	// right: 0;
	opacity: 0.7;
	// transition: .8s ease;
	// background: black;
	// background: url('assets/images/bg/network-bg.mp4') center center / cover no-repeat;
}

.overlay-static {
	// outline: 100% solid rgba(255, 0, 0, 0.5) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
	height: 100%;
	width: 100%;
	z-index: -100;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100px;
	left: 0;
	// margin: auto;
	width: 100%;
	// max-height: 700px;
	max-width: 100%;
    max-height: 100%;
    overflow: hidden;
	// z-index: -100;
	background: radial-gradient(circle, rgba(248,0,255,0) 1%, rgba(3,3,41,0.9808123933167017) 100%);
	z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
	left: 0;
	// background-size: 100% auto;
	width: 100%;
	background: radial-gradient(circle, rgba(248,0,255,0) 1%, rgba(3,3,41,0.9808123933167017) 100%);
	z-index: -100;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px) {

	.navbar-nav {
		top: 42px;
		left: 0;
		margin-top: 20px;
		// display: block;
		width: 100%;
		background-color: rgba(44,44,44,0.6);
		padding: 42px;
		// flex-direction: column;
		// position: fixed;
		z-index: 1;
		transition: 0.5s;
		// position: static;
		// list-style-type: none;
		// margin: 0;
		// padding: 0;
		position: absolute;
	}

	.col-lg-6 {
		max-width: 100%;
	}

	.col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}

	.col-6 {
		flex: 0 0 100%;
	}



}


.container-fluid-short {
    width: 60%;
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.padding-top {
	padding-top: 42px;
}