@mixin mobile-xs{
  @media(max-width:400px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:575px){
    @content;
  }
}
@mixin tablet{
  @media(max-width:767px){
    @content;
  }
}
@mixin desktop{
  @media(max-width:991px){
    @content;
  }
}
@mixin desktop-lg{
  @media(max-width:1200px){
    @content;
  }
}

@mixin size($size){
  width: $size; height: $size;
}

@mixin design ($color, $width:false, $translate:false) {
	height: 2.5rem;
	width: 10rem;
  background: $color;

	@if $width {
		width: $width;
	}

	transform: translateY(-4.1rem);

	@if $translate {
		transform: translateY($translate);
	}
}

@mixin text-animation {
  background: linear-gradient(-45deg, #F72585, #7209B7, #4361EE, #4CC9F0);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}