@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,500,700');
// @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@100&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html,body{
  // min-width: 1056;
  // max-width: 80rem;
  // width: 100%;
  width: 100%;
  height: 100%;
}

html{
  overflow-x: hidden;
}

body {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 400;
  line-height:26px;
  letter-spacing: 1px;
}

p{
  color: #888; // $black; // $black-light;
  // font-family: $paragraph-font;

}


h1,.h1,h2,.h2,h3,.h3 {
  font-family: $heading-font;

}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  // font-family: $heading-font;
  color: #222530;
  font-weight: 400;
}

h1 ,.h1{
  text-transform: none;
  text-transform: capitalize;
  font-size: 70px;
  // font-weight: bold;


}

h2,.h2 {
  font-size: 30px;
  line-height: 20px;
  text-transform: capitalize;
}

h3,.h3 {
  font-size: 35px;
  line-height: 42px;
  text-transform: capitalize;

}

h4,.h4 {
  font-size: 25px;
  line-height: 42px;
  // font-size: 18px;
  // line-height: 30px;
  // text-transform: uppercase;

}

h7,.h7 {
  font-size: 23px;
  line-height: 35px;
  // font-size: 18px;
  // line-height: 30px;
  // text-transform: uppercase;

}

h5,.h5 {
  // font-size: 20px;
  // line-height: 34px;
  font-size: 1.3em;
  line-height: 30px;
  text-transform: capitalize;
}

h6,.h6 {
  font-size: 16px;
  line-height: 26px;
}

.text-md {
  font-size: 18px;
  // line-height: 30px;
  text-transform: uppercase;
}

.text-sm{
  font-size: 14px;
  text-transform: uppercase;

}

.text-justify {
  text-align: justify;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px) {

  h2,.h2 {
    line-height: 50px;
  }

  h4, .h4 {
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
}


}


.text-big-margin {
  margin: 12rem;
}

.font-weight-light {
  font-weight: 200 !important;
  color: rgb(108, 108, 108);
}

.text-light {
  color: #7d7d7d !important;
}

.text-smaller {
  font-size: 0.9em;
}

.text-quote {
  font-size: 1.1em;
  font-style: italic;
}


blockquote {
	// font-weight: 100;
	font-size: 1.5rem;
	max-width: 300px;
	line-height: 1.2;
	position: relative;
	margin: 0;
	// padding: .2rem;
  padding-left: 1.2em;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -1rem;
	top: -3rem;
}

// blockquote:after {
// 	content: '”';
// 	right: -5rem;
// 	bottom: 1rem;
// }

cite {
	line-height: 3;
	text-align: left;
  padding-left: 1.2em;

}

// .typewriter h1 {
//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   border-right: .12em solid rgb(0, 0, 0); /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   // letter-spacing: .15em; /* Adjust as needed */
//   animation:
//     typing 1.5s steps(40, end),
//     blink-caret .75s step-end infinite;
// }

/* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

/* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: orange; }
// }



.animate {
  animation: animate .3s ease-in-out forwards;
}

// @keyframes animate {
//   from {
//     background-color: cornflowerblue;
//     border-radius: 0;
//   }
//   to {
//     background-color: green;
//     border-radius: 100px;
//   }
// }


.paragraph-smaller {
  text-align: justify;
  font-size: 0.9em;
  color: #888;
}

.text-small {
  font-size: 1.1em;
}