// Color Variables
$white: #fff;
$black: #000;
$primary-color:#8a8a8a;  //
$secondary-color:#1d1d33;
$happy-blue: #3582f2;
$extra-color:#5d5b70;
$border-color: #e5e5e5;
$black-light:#848485;
$yello:#ffc429;
$blue: #470FA8;
$heading-font: 'Share Tech Mono', monospace, sans-serif;
$body-font: 'Open Sans', 'Montserrat', sans-serif, system-ui, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', Helvetica, 'Neue', Helvetica, Arial, sans-serif  ;
$paragraph-font: 'Ubuntu Mono', monospace;
$transparent: rgba(255, 255, 255, 0);
$grey-light: rgb(184, 184, 184);
$stripe_white: #F6F9FC;
$stripe_sky_blue: #80e9ff;
$stripe_light_blue: #5a53df;
$blue_grey: #393B45;