// Color Variables
$white: #fff;
$black: #000;
$primary-color:#8a8a8a;  //
$secondary-color:#1d1d33;
$extra-color:#5d5b70;
$border-color: #e5e5e5;
$black-light:#848485;
$yello:#ffc429;
$blue: #470FA8;
$heading-font:'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;
$transparent: rgba(255, 255, 255, 0);
$grey-light: rgb(184, 184, 184);