---
---

/*------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Dizer-Portfolio template
VERSION:	1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@charset "utf-8";

@import "variables";
@import "typography";
@import "mixins";
@import "buttons";
@import "common";
@import "templates/menu";
@import "templates/slider";
@import "templates/service";
@import "templates/about";
@import "templates/portfolio";
@import "templates/counter";
@import "templates/skill";
@import "templates/testimonial";
@import "templates/team";
@import "templates/latest-blog";
@import "templates/contact";
@import "templates/pricing";
@import "templates/blog";
@import "templates/blog-single";
@import "templates/footer";
@import "templates/gray-section";
@import "templates/cta-section";

/* Custom CSS */
 
 
#main-nav {
    background: #fff;
}
.pt-150 {
    padding-top: 150px;
}
 .section-title {
   font-size: 70px;
   line-height: 1em;
   letter-spacing: 0.2px;
   @include mobile-xs { font-size: 30px; }
   @include mobile { font-size: 40px; }
   @include tablet { font-size: 50px; }
 }