<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body data-spy="scroll" data-target="#ftco-navbar-spy" data-offset="0" style="overflow: visible;">

   {% include header_light.html %}

   <main class="overflow-x-hidden">
         <section class="page-title header-padding overlay-staticX" style="
                           url({% if page.header_image %}{{page.header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
                           opacity: 1;
                           background-size: cover;
                           background-repeat: no-repeat;
                           overflow: hidden;
                           max-height: 976px;">
            <div class="container relative z-10">
               <div class="row">
                  <div class="col-lg-9">
                  <h1 class="text-xl">{{ page.title }} </h1>
                  <h5 class="">{{ page.description }} </h5>
                  <!-- <h1 class="text-xl typewrite typehead" data-text=" {{ page.title }}" data-delay="40"></h1>
                  <h5 class="typewrite" data-text=" {{ page.description }}" data-delay="40"></h5> -->
               </div>
               </div>
            </div>
            <div class="skew-bottom-6"></div>
      </section>


      <!-- Centered large image -->
      {% if page.header_image %}

      <section class="section-main section margin-bottom">
         <div class="container">
            <div class="row">
               <div class="design__image__13slv6u design__image__1wlkxmy color-overlay" style="max-width: 100%;">
                  <div data-animation="pixelated">
                  <img src={{ page.header_image }}
                     sizes="100vw"
                     alt="shutterstock 1462733690"
                     loading="lazy"
                     class="design__animated__13slv6u"
                     style="opacity: 1;"
                     width="100%"
                     height="auto">
                  <div
                     data-animation="pixelated-canvas"
                     class="design__canvas__13slv6u"
                     style="opacity: 0; display: none;">
                  </div>
                  </div>
               </div>
         </div>
      </div>
      </section>

    {% elsif page.header_video %}

      <section class="section-main section margin-bottom">
         <div class="container">
            <div class="row">
               <video width="100%" onloadeddata="this.play();" playsinline loop muted style="background-color: white;" preload>
                  <source src={{ page.header_video }} type="video/mp4">
                  Your browser does not support the video tag or the file format of this video.
                </video>

         <!-- <video width="100%" src={{ page.header_video }} autoplay="" loop="" playsinline="">
         </video> -->
         </div>
      </div>
      </section>

   {% endif %}


   {{content}}

   </main>

   {% include footer-straight.html %}

</body>
</html>