---
layout: default-jobs
---

<!-- {% include header_2.html %} -->
{% assign header_image = page.thumbnail %}


<!-- Slider Start -->
<section class="page-title header-padding overlay-static" style="
	background: radial-gradient(circle, rgba(235, 235, 235, 0) 1%, rgba(121, 121, 121, 0.981) 100%),
	url({% if header_image %}{{header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	opacity: 0.95;
	height: 85vh;
	position: relative;
	z-index: 1;
	">

	<div class="container relative z-10">
		<div class="row">
			<div class="col-lg-12">
				<span class="h5 text-uppercase text-yello">{{banner.subtitle}}</span>
				<h1 class="text-white mt-2 mb-4 text-uppercase text-xl  padding-top">{{ page.title }}</h1>
				<h4 class="text-white text-uppercase">{{ page.description }}</h4>
			</div>
		</div>
	</div>
	<div class="skew-bottom-6"></div>
</section>
<!-- Slider End -->


<section class="portfolio-singleX mtrp margin-bottom">
	<div class="container">
		<div class="row justify-content-centerX">
			<div class="col-lg-12">
			{{page.content}}
			</div>
		</div>
	</div>
</section>


<!-- Call To action Start -->
<section class="position-relative section-sm bg-extra-light margin-top">
	<div class="container">
		<div class="row align-items-center margin-bottom">
			<div class="col-lg-12 ">
				<h3 class="text-whiteX mb-0">We would love talking to you</h3>
				<p style="text-align: left; color: rgb(53, 53, 53); font-size: 1.2em; line-height: 1.8em;">
					This position is not for you?
					We get you covered. Explore the other opportunities at Amethix. We regularly open positions relevant to the ongoing projects.
				</p>
			</div>
			</div>

		<div class="row align-items-center">
			<div class="col-lg-3">
				<a href="/positions" class="btn btn-primary text-uppercase">See open roles</a>
			</div>
		</div>
	</div>
</section>
<!-- Call to action End -->

<section class="position-relative section-sm bg-extra-lightX margin-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style="text-align: left;">

			<div class="margin-bottomX">
				<p>
					<h4>What’s it like to work at Amethix?</h4>
				</p>
				<p>
					If you work at Amethix, you are a result-oriented individual with passion, a sense of ownership, and integrity.
					You're encouraged to apply even if your experience doesn't precisely match the job description.
					After the first conversation, we will have better chances to match the open roles with your skills.

					<br />
					At Amethix, we welcome diverse perspectives very much and we like people who are not afraid to challenge assumptions. Join us.
				</p>
			</div>
		</div>
	</div>
</div>
</section>

<!-- {% include call_to_action.html %} -->