---
layout: default_light
---

<!--
<section class="page-title header-padding overlay-staticX" style="
  url({% if page.header_image %}{{page.header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  max-height: 976px;">

  <div class="container relative z-10">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="text-xl">{{page.title}}</h1>
        <h5 class="">{{page.description}}</h5>
	</div>
    </div>
  </div>
  <div class="skew-bottom-6"></div>
</section> -->

      <!-- Centered large image -->
      <!-- <section class="section-main section margin-bottom">
		<div class="container">
		   <div class="row">
			  <div class="design__image__13slv6u design__image__1wlkxmy" style="max-width: 100%;">
				 <div data-animation="pixelated">
				 <img src={{ page.header_video }}
				 sizes="100vw" alt="shutterstock 1462733690" loading="lazy" class="design__animated__13slv6u" style="opacity: 1;"
				 width="100%" height="auto">
				 <div data-animation="pixelated-canvas" class="design__canvas__13slv6u" style="opacity: 0; display: none;">
					</div>
				 </div>
			  </div>
		</div>
	 </div>
	 </section> -->


<section class="container margin-bottom">
	<hr />
	<div class="row margin-bottom">
		<div class="col-md-6 col-lg-4"> </div>
	</div>
		<div class="row margin-bottom">
			<div class="col-md-6 col-lg-6" style="margin-right: 100px;">
				<div class="rooted-pillarX rooted-pillar--ossX">
					<h3 class="mb-5 mt-2">Overview</h3>
					<p class="common-BodyText" style="text-align: justify;"> {{ page.project_overview }} </p>
					<p>{{ page.project_summary }}</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="about-imgX rounded-boxX Xmb-3">
					<div class="cover">
				</div>
			<p>
			<div class="footer-widget mb-5 mb-lg-0">
				<div class="footer-widget mb-5 mb-lg-0">
					<h4 class="mb-3 text-md">Clients</h4>
					<ul class="list-unstyled lh-38">
						<li>{{ page.client }}</li>
					</ul>
				</div>
			</div>
			<div class="footer-widget mb-5 mb-lg-0">
				<h4 class="mb-3 text-md">Category</h4>
				<ul class="list-unstyled lh-38">
					<li>{{page.category }}</li>
				</ul>
			</div>
			<div class="footer-widget mb-5 mb-lg-0">
				<h4 class="mb-3 text-md">Location</h4>
				<ul class="list-unstyled lh-38">
					<li>{{ page.location }}</li>
				</ul>
			</div>
			</p>
			</div>
			</div>
		</div>
		<hr />
</section>

<!-- About Project -->
<section class="container sectionX Xportfolio-2 margin-bottom">
	<div class="row margin-bottom">
			<div class="col-md-6 col-lg-12" style="margin-right: 100px;">
				<div class="rooted-pillarX rooted-pillar--ossX">
					    <h1 id="appearX" class="mb-5 mt-2 text-uppercaseX dummy animate-typing" data-type-speed="40">
							{{ page.project_teaser }}
						</h1>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="about-imgX rounded-boxX Xmb-3">
					<div class="cover"></div>
				</div>
			</div>
	</div>
</section>
<!-- About Project End -->


<section class="container margin-bottom">
    <div class="box visible" data-animate data-animation-classes="animated swing" data-animation-scrolled="true"></div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <br />
            <!-- <b class="animate-typing" data-type-speed="40">Increase your business impact</b> -->
			<blockquote>
				{{ page.testimonial_quote }}
			</blockquote>
			<!-- <cite>{{ page.testimonial_author }}</cite> -->

			<!-- <p class="text-quote"> &ldquo; {{ page.testimonial_quote }}  &rdquo; </p>
			<p> {{ page.testimonial_author }} </p> -->
            <!-- <div class="row mt-3 position-static ml-2">
                <a href="/solutions" class="primary-rounded-btn">Solutions <i class="ti-arrow-right"></i></a>
            </div> -->
        </div>
        <div class="col-md-6 col-lg-4" style="padding-right: 1.9em;">
			<!-- <img src="assets/icons/comments-dollar-solid.svg" width="42px"> -->
			<!-- <img src="assets/images/icons/document.png" width="38px"> -->
            <br />
            <b>PROBLEM SPACE</b>
			<div class="paragraph-smaller margin-bottom">
            	<p>{{page.problem_space}} </p>
			</div>
			<b>SOLUTION</b>
			<div class="paragraph-smaller">
            	<p>{{ page.problem_solution }} </p>
			</div>
        </div>
        <div class="col-md-6 col-lg-4">
			<!-- <img src="assets/icons/brain-solid.svg" width="42px">-->
			<!-- <img src="assets/images/icons/browser.png" width="38px"> -->
            <br />
            <b>Are you ready to get started?</b>
            <p class="text-smaller">Tell us about your project. Let us help you enhance your business with
				cutting-edge solutions tailored to your needs.</p>
            <!-- <a href="/contact" class="secondary-rounded-btn text-smaller">Contact sales <i class="ti-arrow-right"></i></a> -->
			<div class="row mt-3 position-static ml-2">
                <a href="/contact" class="primary-rounded-btn">Contact sales <i class="ti-arrow-right"></i></a>
                <!-- <a href="/contact" class="secondary-rounded-btn">Contact sales <i class="ti-arrow-right"></i></a> -->
            </div>

        </div>
    </div>
</section>



<!-- Capabilities Start -->
<section class="pt200 section portfolio-2">
	<div class="container">

		  <div class="row">
			  <div class="col-lg-12 text-centerX">
				  <span id="appear" class="h5 text-color text-uppercase dummy typewrite" data-text="application domains: robotics">
				  </span>
		  <h1 id="appear" class="mb-5 mt-2 dummy typewrite" data-text="Capabilities"></h1>
			  </div>
		  </div>

  </section>

  <section class="section service contact-hero-bgX position-relative margin-bottom">
	<div class="container">
		<div class="row shuffle-wrapper portfolio-gallery">
			<!-- <div class="col-lg-7">
				<h2 class="mb-5 mt-2">Browse</h2>
			</div> -->
		</div>
		<div class="row">
			{% include capability_loop.html %}
		</div>
	</div>
</section>



<!-- Carousel of other projects -->
<section class="section service contact-hero-bgX position-relative margin-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<h2 class="mb-5 mt-2">Browse</h2>
			</div>
		</div>
		<div class="row">
			{% for cap in site.capabilities limit:"4" %}
			<div class="col-lg-3">
				<div class="portfolio-block border-0 ">
					<img src="{{cap.thumbnail}}" class="img-fluid" alt="{{cap.title}}" />
					<a class="card-img-overlay" href="{{cap.url}}">
						<h5 class="card-title text-white mb-0">{{cap.title}}</h5>
						<p class="card-text text-white text-uppercase text-sm">{{cap.category}}</p>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End of Carousel of other projects -->
