---
layout: default_light
---

<section class="page-title header-padding overlay-staticX" style="
  url({% if page.header_image %}{{page.header_image}} {% else %} {{site.cover_image}} {% endif %}) 0 0 no-repeat fixed;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  max-height: 976px;">

  <div class="container relative z-10">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="text-xl">{{page.title}}</h1>
        <!-- <h4 class="mb-4 mt-3" style="max-width: 650px; margin: 1rem auto; padding-top: 1rem;">{{page.description}}</h4> -->
        <h5 class="">{{page.description}}</h5>
		<!-- <h4 class="mb-4 mt-3" style="max-width: 550px; margin: 1rem auto; padding-top: 5rem;">
			Building analytics solutions across sectors is what we enjoy doing.
		</h4> -->
	</div>
    </div>
  </div>
  <div class="skew-bottom-6"></div>
</section>


<!-- <section class="page-title header-padding overlay-static" style="
  background: radial-gradient(circle, rgba(250, 250, 250, 0.90) 10%, rgba(255, 255, 255, 0.981) 100%);
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
	padding-top: 10rem; ">
  <div class="container relative z-10">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="mb-2 text-xl padding-top">{{page.title}}</h1>
        <h4 class="" style="max-width: 650px; margin: 1rem auto; padding-top: 1rem;">{{page.description}}</h4>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="portfolio-single margin-bottom"> -->
<!-- <section class="container margin-bottom"> -->
<!--
	<div class="container"> -->
		<!-- <div class="row"> -->
			{{page.content}}
		<!-- </div> -->
	<!-- </div> -->
<!-- </section> -->

<section class="section service contact-hero-bgX position-relative margin-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<h2 class="mb-5 mt-2">Other Projects</h2>
			</div>
		</div>

		<div class="row">
			{% for portfolio in site.portfolios limit:"4" %}
			<div class="col-lg-3">
				<div class="portfolio-block border-0 ">
					<img src="{{portfolio.thumbnail}}" class="img-fluid" alt="{{portfolio.title}}" />
					<a class="card-img-overlay" href="{{portfolio.url}}">
						<h5 class="card-title text-white mb-0">{{portfolio.title}}</h5>
						<p class="card-text text-white text-uppercase text-sm">{{portfolio.category}}</p>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

